// colors
$color_background: #303030;
$color_text: #FFF;
$color_separator: #888;

// fonts
$font_open-sans: 'Open Sans';
$font_sans-serif: sans-serif;

body {
    font-family: $font_open-sans, $font_sans-serif;
    background-color: $color_background;
    color: $color_text;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 40px);
    margin: 20px;
}

h1 {
    width: 100%;
    text-align: center;
}

iframe {
    width: 100%;
    min-height: calc(100vh - 40px);
    border: none;
}

.hide {
    display: none;
    opacity: 0;
    transition: opacity 400ms;
}